@font-face {
  font-family: "Lato";
  src: url("../../assets/Lato/Lato-Regular.ttf");
}

main .cd-main-content2 > div {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
main .cd-main-content2::after {
  bottom: 0;
}

@media only screen and (min-width: 770px) {
  main .cd-main-content2 {
    height: 100%;
  }
}
main .cd-main-content2.cd-contact2 {
  display: table;
  width: 100%;
}
main .cd-main-content2 {
  position: relative;
  height: calc(100vh - 20px);
}
main .cd-main-content2::after,
main .cd-main-content2::before {
  content: "";
  position: absolute;
  left: 0;
  height: 50px;
  width: 100%;
}
main .cd-main-content2::before {
  top: 0;
}
main .cd-main-content2::after {
  bottom: 0;
}

@media only screen and (min-width: 650px) {
  .wrapper2.contacty2 {
    background: url(../../assets/img/lines3.png) top center repeat-y #FEF1E6;
    background-size: 70%;
  }
}

.wrapper2.contacty2 {
  width: 100%;
  background:#FEF1E6;
  background-size: 136%;
}

@media only screen and (min-width: 650px) {
  .wrapper2 {
    background:#FEF1E6;
    background-size: 18%, 70%;
  }
}

.wrapper2 {
  width: 100%;
  background:#FEF1E6;
  background-size: 136%;
}

@media only screen and (min-width: 650px) {
  .contactbanner2 {
    background-size: 70%;
  }
}

.contactbanner2 {
  height: 100vh;
  position: relative;
  background:#FEF1E6;

  background-size: 70%;
}
@media only screen and (min-width: 650px) {
  .bannertxtc2 {
    padding-top: 39vh;
  }
}

.bannertxtc2 {
  width: 100%;
  padding-top: 40vh;
  text-align: center;
  margin: 0 auto;
}

@media only screen and (min-width: 770px) {
  .paperplane2 {
    position: absolute;
    top: 30vh;
    left: 50%;
    margin-left: -25%;
    /* margin-bottom: -1px; */
    width: 50%;
    z-index: 1;
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;
  }
}

@media only screen and (min-width: 650px) {
  .paperplane2 {
    position: absolute;
    top: 37vh;
    left: 50%;
    margin-left: -32%;
    /* margin-bottom: -1px; */
    width: 68%;
    z-index: 1;
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
    -webkit-animation: float 6s ease-in-out infinite;
    animation: float 6s ease-in-out infinite;
  }
}

.paperplane2 {
  position: absolute;
  top: 30vh;
  left: 0;
  margin-left: 0;
  width: 100%;
  z-index: 1;
  -webkit-transform: translatey(0px);
  transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
  animation: float 6s ease-in-out infinite;
}
@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }

  50% {
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px);
  }
}
.paperplane2 img {
  width: 50%;
}
@media (max-width: 1024px) {
  .paperplane2 img {
    width: 80%;
  }
}
@media (max-width: 650px) {
  .paperplane2 img {
    width: 100% !important;
  }
  .paperplane2 {
    top: 42vh !important;
  }
}
@media (max-width: 850px) {
  .paperplane2 img {
    width: 80%;
  }
  .paperplane2 {
    top: 40vh;
  }
  .bannertxtc2 {
    padding-top: 49vh;
  }
}

@media only screen and (min-width: 650px) {
  .bannersplat2 {
    margin-left: -325px;
    margin-top: -325px;
    width: 650px;
    height: 650px;
  }
}

@media (max-width: 650px) {
  .bannersplat2 {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    margin-left: -185px !important;
    margin-top: -250px !important;
    width: 370px !important;
    height: 300px !important;
    z-index: 0 !important;
  }
}

.bannersplat2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -185px;
  margin-top: -250px;
  width: 370px;
  height: 300px;
  z-index: 0;
}
@media (max-width: 1024px) {
  .bannersplat2 {
    top: 42%;

    width: 437px;
  }
}
.splatoverlay2 {
  position: absolute;
  width: 110%;
  top: 15%;
  left: 20%;
  z-index: 5;
}
@media (max-width: 650px) {
  .splatoverlay2 {
    width: 70%;
    top: 10%;
    left: 20%;
    z-index: 0;
  }
}
@media (max-width: 850px) {
  .splatoverlay2 {
    width: 65%;
    top: 15%;
    left: 20%;
    z-index: 0;
  }
  .bannersplat2 {
    top: 51%;
  }
}
.fluid2.lbdark2 {
  background-color: #121822;
  overflow: hidden;
}

.fluid2 {
  width: 250px;
  height: 250px;
  margin: 145px auto;
  border-radius: 50%;
  animation: rotate 15s infinite;
  overflow: hidden;
}
@media (max-width: 650px) {
  .fluid2 {
    width: 250px;
    height: 250px;
    margin: 145px auto;

    border-radius: 50%;
    animation: rotate 15s infinite;
    overflow: hidden;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
  20% {
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
  }

  40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
  }
  60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
  }
  80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
  }
}
@media only screen and (min-width: 770px) {
  .bannertxtc2 h1 {
    font-size: 9vw;
  }
}
@media (max-width: 650px) {
  .bannertxtc2 h1 {
    font-size: 11vw !important;
    letter-spacing: 0px !important;
  }
  .bannertxtc2 {
    padding-top: 48vh;
  }
}
.bannertxtc2 h1 {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  text-align: center;
  z-index: 2;
  font-size: 7vw;
  letter-spacing: -4px;
  position: relative;
}
@media (max-width: 850px) {
  .bannertxtc2 h1 {
    letter-spacing: 0px;
  }
}
.fade-in2 {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0px, 40px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
@media only screen and (min-width: 650px) {
  .scroll2 {
    bottom: 30px;
    left: 50%;
    margin-left: -4px;
    width: 10px;
    height: 48px;
  }
}

.bounce2 {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
.scroll2 {
  position: absolute;
  bottom: 17px;
  left: 50%;
  margin-left: -3px;
  width: 8px;
  height: 36px;
  background-image: url(../../assets/img/scroll2\ .svg);
  background-size: contain;
  z-index: 1;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.formholder2 {
  width: 100%;
}
@media only screen and (min-width: 770px) {
  .bluewrapcontact2 {
    background-color: #273040;
    box-shadow: 0px 0px 115px #000000a6;
    padding: 6%;
    width: 70%;
    margin: 10% auto 10%;
  }
}

.bluewrapcontact2 {
  background-color: #273040;
  /* box-shadow: 0px 0px 115px #000000a6; */
  padding: 6%;
  width: 70%;
  margin: 10% auto 10%;
}
.group2:after {
  content: "";
  display: table;
  clear: both;
}
.fieldwrap {
  width: 100%;
}
@media only screen and (min-width: 770px) {
  .formleft {
    width: 49%;
    float: none;
  }
}


.contact-form {
    margin: 3rem auto 0;
    max-width: 50%;
    max-width: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid#F9D5A7;
    background: 90AACB;
    padding: 0 30px 10px;
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.637);
  }
  h2 {
    margin-top: 35px;
    text-align: center;
    color: #fff;
  }
  .form-content {
    display: grid;
    grid-template-rows: repeat(4, 1fr) 105px;
  }
  input,
  textarea {
    background: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    border: 1px solid #F9D5A7;
    color: #18dcff;
  }
  input::placeholder, 
  textarea::placeholder {
   color: rgb(190, 188, 188);
  }
  input,
  .email-content,
  textarea {
    width: 90%;
    margin: 0 auto;
  }
  input {
    padding: 24px 0 12px;
  }
  .email-content {
    position: relative;
  }
  .email-content input {
    width: 100%;
  }
  #not-mail {
    display: none;
    position: absolute;
    top: 4px;
    color: #ff4d4d;
    right: 0;
    transform-origin: 50% 50%;
  }
  @keyframes dongle {
    0% {
      transform: translate(0px, 0px);
    }
    10% {
      transform: translate(-10px, 0px);
    }
    20% {
      transform: translate(10px, 0px);
    }
    30% {
      transform: translate(-10px, 0px);
    }
    40% {
      transform: translate(10px, 0px);
    }
    50% {
      transform: translate(-10px, 0px);
    }
    60% {
      transform: translate(10px, 0px);
    }
    70% {
      transform: translate(-10px, 0px);
    }
    80% {
      transform: translate(10px, 0px);
    }
    90% {
      transform: translate(-10px, 0px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
  textarea {
    resize: none;
    padding: 24px 0;
  }
  .button {
    font-size: 1.3rem;
    margin-top: 15px;
    color:#00e7ea;
    border: none;
    cursor: pointer;
    transition: .2s;
    width: 100%;
  }
  .button:hover {
    letter-spacing: 2px;
  }
  .error::placeholder {
    color: #ff4d4d;
  }


  