@font-face {
  font-family: "Lato";
  src: url("./assets/Lato/Lato-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif !important;
  background:#fef1e6  !important;
  position: relative !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 12rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
/* canvas{
    z-index: 1;
} */